<div class="container-fluid">
  <div class="row full-height">
    <div class="col-xs-12 col-md-8 col-sm-7  full-height pad">
      <div class="main-pane">
        <div class="header">
          <h1 class="underline">Lawrence Siebert's Website</h1>       
        </div>
        <div>
          <p class="lead"> 
          Hi, and welcome to my site.  
          </p>
        </div>
      </div>


    </div>
    <div class="col-xs-12 col-md-4 col-sm-5 pad">
      <div class="side bracket ">
        <h2 class="underline-right">Contact</h2>
        <div >
          <strong class="mail">
            <a href="mailto:lawrencesiebert@gmail.com" target="_blank">lawrencesiebert@gmail.com</a>
          </strong>
        </div>
        <div class="github">
            <!--<img  src="../images/GitHub-Mark-32px.png" style="height: 16px; width:16px;" alt=""/>-->
          <strong >
            <a target="_blank" href="http://www.github.com/gryftir">GitHub Profile</a>
          </strong>
        </div>
      </div>

    </div>

  </div>

</div>
